# General
.DS_Store
*.pyc
__pycache__/
.venv/
env/
venv/

# Python
*.pyc
__pycache__/
.pytest_cache/
*.egg-info/
dist/
build/

# Environment files
.env
frontend/.env*
frontend/**/next-env.d.ts

# Node / frontend
node_modules/
dist/
.next/
out/


# SQLite databases
*.db
*.db-journal

# IDE
.idea/
.vscode/

# Logs
backend/logs/
*.log

